@import url('https://fonts.googleapis.com/css?family=Arapey');

body {}

#fondAccordeon{
	background-color: #d4c8c8c9;
}
.cont100 {
	width: 100% !important;
	max-width: 100% !important;
	margin: 0 -.75rem;
}


/*ACCUEIL*/

.colacc-left {
	padding: 0 !important;
}

.colacc-co {
	background-color: #7CCBE1;
	height: 100vh;
}

.imageacc {
	height: 50vh;
	background-image: url(../img/chat-assis-avec-ordinateur-.jpg);
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
}

.textacc {
	font-family: 'Arapey', serif;
	color: #39A298;
	text-align: center;
	font-size: 1.7rem;
	padding: 50px;
}

.card-form {
	margin-top: 25vh !important;
	padding: 0 30px;
	text-align: center;
}

.text-signin {
	color: #fff;
}

.text-signin a {
	color: #fff;
	text-decoration: underline;
}

.text-signin a:hover {
	color: #39a298;
}

.cont100.signin {
	display: inline-block;
	height: 100vh;
	background-image: url(../img/Sans-titre-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}




/*-------SIDEBAR----------*/

.sidenav {}

.side-header {
	padding: 10px;
	background-color: #616161;
	color: #fff;
}

.side-header a {
	color: #fff;
}

.side-content {
	padding: 30px 10px;

}

.side-content .bloc-chat {
	padding: 10px 0;
	border-bottom: #d8d8d8 1px solid;
}

.side-content a .bloc-chat p {
	margin: 0;
	text-transform: uppercase;
	color: #000;
}

.side-content .bloc-chat .photo-chat {
	width: 48px;
	border-radius: 24px;
	float: left;
	margin-right: 20px;
}

.side-content .bloc-chat p {
	float: left;
	margin: 0;
}

nav a.sidenav-trigger {
	display: block !important;
	float: right;
}

nav .brand-logo {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

nav .brand-logo img {
	height: 45px;
}

.sidenav ul li.li-chat a {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 68px;
}


/*-----*/

.card-blue {
	background-color: #7CCBE1 !important;
}

.card-grey {
	background-color: #f5f5f5 !important;
}

h5.title-page {
	color: #FFFFFF;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 60px;
}

.card-grey h5.title-page {
	color: #000;
}

ul.tab-chats {}

ul.tabs.tab-chats .tab a {
	color: #616161;
	font-weight: 600;
}

ul.tabs.tab-chats .tab a.active {
	color: #009688;
}

ul.tabs.tab-chats .indicator {
	background-color: #009688;
}

ul.tabs.tab-chats .tab a:focus,
ul.tabs.tab-chats .tab a:focus.active {
	background-color: rgba(0, 150, 136, 0.05)
}




/*PARAM*/

.switch {
	text-align: right;
}


/*ADMINISTRATION*/

.admin .left .card {
	background-color: #7ccbe1;
}

.admin .left .card .row,
.admin .center .card .row {
	margin: 0;
}

.admin .left .card img.pp {
	width: 100%;
	border-radius: 50%;
	margin: .75rem 0;
}

.admin .pseudo {
	color: #fff;
	text-align: center;
	font-size: 2rem;
	margin-bottom: 20px;
}

.admin .text-left {
	font-family: 'Arapey', serif;
	font-size: 1.4rem;
}

.admin .center {
	text-align: left !important;
}

.admin .center .card {
	background-color: #7ccbe1;
	padding: 20px;
	text-align: left;
}

.admin .center .card .front,
.admin .center .card .back {
	position: relative !important;
}

.admin .center .card .front .row {
	padding: 0;
}

.admin .center .back {
	visibility: hidden;
}



.admin .center .card .card-cat {
	background-color: #fff;
	padding: 10px;
}

.admin .center .card .card-cat img {
	width: 70px;
	border-radius: 50%;
}

.carousel {
	height: 1000px!important;
}

/*--calendrier--*/

.calendar #calendar {
	padding: 20px;
	background-color: #fff;
}

.calendar #calendar .fc-button-group button {
	margin: 5px;
}




/*MARCELLO*/

.card .row {
	margin: 0 !important;
	padding: 20px;
}


#ligne {
	background-color: #7CCBE1;
	height: 2px;
}

.color-rouge {
	color: #CB8A8A;
}

#popup {
	width: 50%;
}

.color-vert {
	color: #009688;
}

.bg-color-rouge {
	background-color: #fff;
}

/*SONIA*/

h3 {
	font-family: 'Arapey', serif;
}
/* ludivine */

